.about-author {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 140px;

  @media (min-width: $tablet-width) {
    width: 580px;
    padding-top: 45px;
    padding-left: 155px;
    padding-right: 15px;

    box-shadow: inset 0 0 0 1px red;
  }

  @media (min-width: $desktop-width) {
    width: 734px;
    padding-top: 60px;
    padding-left: 308px;
    padding-right: 128px;
  }
}

.about-author__wrapper {
  position: relative;
  padding-top: 115px;
  padding-bottom: 65px;
  text-align: center;
  border: 3px solid $orange;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-bottom: 125px;
    padding-left: 170px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 130px;
    padding-right: 70px;
    padding-bottom: 168px;
    padding-left: 265px;
  }
}

.about-author__picture {
  position: absolute;
  top: -142px;
  left: 50%;
  width: 185px;
  height: 239px;
  box-shadow: 0 200px 200px 0 rgba($white, 0.07);
  transform: translate(-50%, 0);

  @media (min-width: $tablet-width) {
    top: 50%;
    left: -142px;
    width: 284px;
    height: 366px;
    box-shadow: 200px -50px 400px 0 rgba($white, 0.07);
    transform: translate(0, -190px);
  }

  @media (min-width: $desktop-width) {
    left: -185px;
    width: 369px;
    height: 476px;
    transform: translate(0, -240px);
  }
}

.about-author__title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: $white;
  text-transform: uppercase;

  & span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: $orange;
    text-shadow: 0 3px 27px rgba($orange, 0.6);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 28px;

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: -100px;
      width: 300px;
      height: 2px;
      background-color: rgba($white, 0.1);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.5px;

    &::after {
      bottom: -8px;
      left: -200px;
      width: 400px;
    }
  }
}

.about-author__info,
.about-author__text {
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
  color: $grey;
}

.about-author__info {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.about-author__text {
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
