.advantages {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 15px;
  padding-bottom: 70px;

  @media (min-width: $tablet-width) {
    width: 720px;
    padding-bottom: 70px;

    box-shadow: inset 0 0 0 1px red;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    overflow-x: hidden;
  }
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  width: 188px;
  margin: 0 auto;
  margin-top: 44px;
  padding-top: 100px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &--fast::before {
    width: 115px;
    height: 71px;
    background: url("../img/icon-fast.svg") no-repeat 0 0;
  }

  &--master::before {
    top: 10px;
    width: 68px;
    height: 61px;
    background: url("../img/icon-master.svg") no-repeat 0 0;
  }

  &--money::before {
    top: 10px;
    width: 67px;
    height: 67px;
    background: url("../img/icon-money.svg") no-repeat 0 0;
  }

  @media (min-width: $tablet-width) {
    width: 220px;
    margin: 0;
    padding-top: 90px;
    text-align: left;

    &::before {
      left: 0;
      transform: translateX(0);
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-left: 110px;

    &--money {
      padding-right: 80px;
    }

    &::before {
      left: 110px;
    }
  }
}

.advantages__title,
.advantages__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.advantages__title {
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -150px;
      width: 120px;
      height: 2px;
      background-color: rgba($white, 0.1);
    }

    &--money::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 175px;
      width: 120px;
      height: 2px;
      background-color: rgba($white, 0.1);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__text {
  font-weight: 300;
  color: $grey;
}
