.course {
  background: url("../img/bg-screens-mobile@1x.png") no-repeat 50% 130px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-screens-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.course__wrapper {
  position: relative;
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 30px;
  text-align: center;

  box-shadow: inset 0 0 0 1px red;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 720px;
    padding-top: 70px;
    padding-bottom: 110px;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      top: -60px;
      left: 320px;
      width: 537px;
      height: 514px;
      background: url("../img/bg-screens-tablet@1x.png") no-repeat 0 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-screens-tablet@2x.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    padding-top: 85px;
    padding-bottom: 218px;

    &::after {
      top: -180px;
      left: 465px;
      width: 895px;
      height: 856px;
      background: url("../img/bg-screens-desktop@1x.png") no-repeat 0 0;
      background-size: 895px 856px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-screens-desktop@2x.png");
      }
    }
  }
}

.course__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.7px;
  color: $white;
  text-transform: uppercase;

  & span {
    display: block;
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 14px;
    color: $orange;
    text-shadow: 0 3px 27px rgba($orange, 0.6);
  }

  @media (min-width: $tablet-width) {
    width: 410px;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 1.5px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 52px;

    & span {
      margin-bottom: -10px;
    }
  }
}

.course__text {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: $grey;

  @media (min-width: $tablet-width) {
    width: 410px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    font-size: 18px;
    line-height: 24px;
  }
}

.course__picture {
  display: block;
  width: 245px;
  height: 242px;
  margin-top: -10px;
  margin-left: 40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50px;
    right: -40px;
    width: 338px;
    height: 332px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    right: -70px;
    width: 563px;
    height: 553px;
  }
}

.course__form {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    width: 410px;
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-top: 60px;
  }
}
