.course {
  padding-top: 30px;
  text-align: center;
  background: url("../img/bg-screens-mobile@1x.png") no-repeat 50% 130px;
}

.course__link {
  color: $white;
  text-decoration: none;
}

.course__title {
  width: 290px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;

  & span {
    display: block;
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 14px;
    color: $orange;
    text-shadow: 0 3px 27px rgba($orange, 0.6);
  }
}

.course__text {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: $grey;
}

.course__picture {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

.course__picture-image {
  display: block;
  width: 245px;
  height: 242px;
  margin-top: -10px;
  margin-left: 40px;
}

.course__form {
  width: 290px;
  margin: 0 auto;
  margin-top: 34px;
  padding: 0 15px;
}
