.form {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__input {
  width: 100%;
  padding: 15px 0;
  font: inherit;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  color: $black;
  background-color: $white;
  border: none;

  &::placeholder {
    color: $grey-dark;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: auto;
    padding: 20px 0;
    padding-left: 25px;
    text-align: left;
  }
}

.form__button {
  @include button-reset;
  width: 100%;
  padding: 15px 0;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: $white;
  background-color: $orange;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: $orange-light;
  }

  &:active {
    background-color: $orange-dark;
  }

  @media (min-width: $tablet-width) {
    width: 196px;
    padding: 20px 0;
  }
}
