.page-footer {
  min-height: 60px;
  padding-top: 20px;
  background-color: $blue-black;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }
}

.page-footer__copyright {
  width: 290px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  color: $grey;

  & span {
    text-transform: uppercase;
    color: $orange;
  }

  @media (min-width: $tablet-width) {
    width: 720px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    letter-spacing: 0.7px;
  }
}
