.results {
  @media (min-width: $desktop-width) {
    position: relative;
    background: url("../img/graph_desktop.svg") no-repeat 50% 100%;
    background-size: 1541px 377px;

    &::after {
      content: "";
      position: absolute;
      top: 360px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: rgba($white, 0.05);
      box-shadow: 0 102px 0 0 rgba($white, 0.05), 0 204px 0 0 rgba($white, 0.05), 0 306px 0 0 rgba($white, 0.05);
    }
  }
}

.results__wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 128px;

  @media (min-width: $tablet-width) {
    width: 720px;
    padding-top: 150px;

    box-shadow: inset 0 0 0 1px red;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    padding-top: 175px;
    padding-bottom: 155px;
  }
}

.results__title {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: $white;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -45px;
    left: 0;
    width: 70px;
    height: 2px;
    background-color: $orange;
    box-shadow: 20px 15px 0 0 $orange;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    font-size: 28px;
    line-height: 36px;

    &::before {
      left: -65px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 115px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 1.5px;
  }
}

.results__list {
  @include list-reset;
  padding-left: 85px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    padding-left: 125px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: auto;
    padding: 0;
  }
}

.results__item {
  position: relative;
  margin: 0;
  margin-bottom: 52px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: $grey;

  & span {
    position: absolute;
    top: 0;
    left: -27px;
    font-weight: 900;
    font-size: 72px;
    color: rgba($white, 0.1);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -55px;
    width: 4px;
    height: 4px;
    background-color: transparent;
    border: 6px solid $white;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba($white, 0.2);
  }

  @media (min-width: $tablet-width) {
    width: 210px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 0;
    font-size: 18px;

    & br {
      display: none;
    }

    & span {
      left: -25px;
    }

    &::before {
      left: 0;
      width: 6px;
      height: 6px;
      border: 8px solid $white;
      box-shadow: 0 0 0 9px rgba($white, 0.2);
    }

    &:nth-child(1) {
      width: 215px;
      margin-left: 5px;
      padding-top: 120px;

      & span {
        top: 120px;
      }

      &::before {
        top: 251px;
      }
    }

    &:nth-child(2) {
      width: 225px;
      margin-left: 105px;
      padding-top: 35px;

      & span {
        top: 35px;
      }

      &::before {
        top: 153px;
      }
    }

    &:nth-child(3) {
      width: 150px;
      padding-top: 135px;

      & span {
        top: 135px;
      }

      &::before {
        top: 285px;
      }
    }

    &:nth-child(4) {
      width: 145px;
      margin-left: 75px;
      padding-top: 35px;

      & span {
        top: 35px;
      }

      &::before {
        top: 144px;
      }
    }

    &:nth-child(5) {
      width: 140px;
      margin-left: 80px;

      & span {
        top: 0;
      }

      &::before {
        top: 94px;
      }
    }
  }
}
