// Цвета от светлому к темному
$white:         #ffffff;
$grey:          #bdbdbd;
$grey-dark:     #afafaf;
$orange-light:  #f7a83a;
$orange:        #f99406;
$orange-dark:   #db8000;
$blue-dark:     #0b1119;
$blue-black:    #080d13;
$black:         #000000;

// Основные размеры экранов
$mobile-width:  320px;
$tablet-width:  750px;
$desktop-width: 1170px;

// Разрешение ретины
$retina-dpi:    144dpi;
$retina-dppx:   1.5dppx;
